@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap");
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: "Open Sans" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: "Open Sans" !important;
}

/*Button*/

button.normal {
  height: 40px;
  width: 120px;
  font-size: 15px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  border: 0;
}

button.normal:hover {
  background-color: rgb(52,58,64);
  color:#cce7d0
}

button.light {
  height: 40px;
  width: 120px;
  font-size: 15px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  border: 0;
  background-color: #58a074;
  color: #fff;
  font-weight: 500;
}

button.light:hover {
  background-color: rgb(52,58,64);
  color:#cce7d0
}

/*Products Cards*/

#products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 0 250px;
  margin: 20px 0px;
}


#products .cards {
  display: flex;
  width: 20%;

  min-width: 175px;
  max-width: 175px;

  min-height: 200px;
  max-height: 300px;
  border-radius: 20px;
  border: 1px solid #58a074;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 12px;
  margin: 5px auto;
  position: relative;

  transition: 0.3s ease;
}

#products .cards:hover{
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

#products .cards .image{
  display: flex;
  align-items: center;
  justify-content: center;
}

#products .cards .image img {
  width: 100%;
  max-width: 150px;
  border-radius: 20px;
}

#products .cards .image .insideimg {
  position: absolute;
  top: 10px;
  left: 10px;
}

#products .cards .image .insideimg h4{
  font-size: 10px;
}

#products .cards .details h3{
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #64738d;
}

#products .cards .details h5{
  font-size: 10px;
  color: #e05bb1;
}

#products .cards .details h2{
  font-size: 20px;
  color: #5bd7e0;
}

#products .cards a{
  text-decoration: none;
}

#products .cards .details .cateprice{
  text-align: center;
}

/* Banner */

.nktbanner {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../public/images/b2.jpg");
  width: 100%;
}

.nktbanner p {
  padding: 20px 0 0 0 ;
  color: #cce7d0;
  font-size: 15px;
}

.nktbanner h2 {
  color: #cce7d0;
  padding: 0;
}

/*Media*/

@media (max-width: 1170px ) {
  #products {
    padding: 0 250px;
  }
}

@media (max-width: 1020px) {
  #products {
    padding: 0 50px;
  }
}

@media (max-width: 692px) {
  #products {
    padding: 0 10px;
  }
}

input{
  box-shadow: none !important;
  border: 1px solid #000 !important;
}

.register-button{
  position: absolute;
  top: 72%;
  left: 0px
}

.login-button{
  position: absolute;
  top: 80%;
  left: 0px
}